* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
  background-color: #222;
}
/* text sprites */
.score-board{
  font-size: 144px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5ff;
}

.username-display{
  font-size: 72px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #333333;
}
 /* in game text */
.score-bubble{
  font-size: 72px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5d3;
}

.precious-bubble{
  font-size: 72px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5d3;
}

/* score board */
.scores-game {
/*  background: #efefef;*/
  float: left;
  height: 100px;
  width: 150px;
}

.scores-username {
/*  background: #eeffff;*/
  width: 500px;
  height: 100px;
  text-align: center;
  display: inline-block;
  line-height: 100px;
}

.scores-score{
/*  background: #0f0f0f;*/
/*  color: #f0f0f0;*/
  height: 100px;
  float: right;
  text-align: center;
  width: 150px;
  line-height: 100px
}

.scores-container {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 36px;
  width: 800px;
  height: 100px;
  margin: 0px auto;
}
