* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
  background-color: #222;
}

.score-board{
  font-size: 144px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5ff;
}

.score-bubble{
  font-size: 72px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5d3;
}

.precious-bubble{
  font-size: 72px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: #bcc5d3;
}

